<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns Quiz App
# Author::    1165536 Juliana Pena
-->

<h1>YOUR QUIZ REPORT HAS BEEN SUCCESSFULLY SUBMITTED!!!!!</h1>
<%= form_tag({:controller => "quiz", :action => "index"}, :method => "get") do %>
  
<% end %>

