<h1>exam results</h1>

<table >

  <tr>
    <th>email</th>
    <th>score</th>
    
  </tr>


<% Exam.all.each do |exam| %>
<tr>  
<%= exam.id %>
  <td><%= exam.email %></td>
<td><%= exam.score %></td>
</tr>
<% end %>

</table>

